<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="syntaxcms" frontName="syntaxcms">
            <module name="MageBig_SyntaxCms"/>
        </route>
    </router>
</config>